---
title: Just the samples
elements: 
  - Pads
  - Bank 
  - Sample 
  - Tap
  - Kbd
visualiser: 
  count: 8
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block visual %}
  <div class="l-framed">
    <rings-blam 
      id="example" 
      fps="8"
      ratio="1 / 1"
      analyser="#analyser" 
      transport="#transport"
      style="inline-size: 75vw; max-block-size: 100%"
      count="{{ visualiser.count }}"
    >
    </rings-blam>
  </div>
{% endblock %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam choke robin out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/03.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/04.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<tap-blam to="pads-blam" prop="play">
  <button class="u-round" aria-label="play">{% icon 'play' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

I’m going to create an expressive, generative bassline from just 4 individual samples. By applying the `robin` prop to the `<pads-blam>` element here, these samples can be played in order. Just press the `<tap-blam>` button repeatedly.

```html
<pads-blam choke robin out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/03.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/04.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<tap-blam to="pads-blam" prop="play">
  <button class="u-round" aria-label="play">{% icon 'play' %}</button>
</tap-blam>
```

[Round-robin](https://help.ableton.com/hc/en-us/articles/115000267664-How-to-create-Round-Robin-sample-playback) sampling replaces the default behavior of selecting `<bank-blam>` samples at random. Applying `robin` is useful if the samples are pitched and you want to reproduce the same melody each time. In this case, it’s a simple major [arpeggio](https://en.wikipedia.org/wiki/Arpeggio).

Note the application of `choke`, ensuring each previous sample is silenced as the new sample is played. This is in keeping with how real bass guitars are played. Notes are rarely allowed to ring out and overlap; moving frets mutes one note to be replaced by the next.

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<kbd-blam to="pads-blam" prop="play" key="1"></kbd-blam>
{% endblock %}