---
title: Breathe and stop
bpm: 100
elements: 
  - Notes
  - Bank 
  - Sample 
  - Blam
  - Chain 
  - Filter 
  - Envelope
  - Tap
  - Sequencer 
  - Track 
  - Bar
  - Switch
  - Watch
visualiser: 
  count: 8
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block visual %}
  <div class="l-framed">
    <rings-blam 
      id="example" 
      fps="8"
      ratio="1 / 1"
      analyser="#analyser" 
      transport="#transport"
      style="inline-size: 75vw; max-block-size: 100%"
      count="{{ visualiser.count }}"
    >
    </rings-blam>
  </div>
{% endblock %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser" smoothing="0.5"></analyser-blam>
</chain-blam>
<notes-blam choke notes="A1 A1 A1 C2 D2 D#2 E2 G1 A2 C3" robin>
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/01.mp3" root="A1"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/02.mp3" root="C#2"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/03.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/04.mp3" root="A2"></sample-blam>
  </bank-blam>
  <blam-blam prop="length" value="0.25|0.5|0.5|0.125"></blam-blam>
  <chain-blam out="bus">
    <filter-blam freq="8000" q="10" bypass>
      <envelope-blam prop="freq" curve="200 0, 11000 0.25"></envelope-blam>
    </filter-blam>
  </chain-blam>
</notes-blam>
<sequencer-blam id="transport">
  <track-blam to="notes-blam" chance="0.7">
    <bar-blam s="A1 0 ? 0 0 ? 0 ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

When sequencing my bassline, I want to introduce some pauses—because music isn’t just about the notes, but the silences between them (or some such cliché).

I go about this in a few different ways. Firstly, the sequence itself is [syncopated](https://en.wikipedia.org/wiki/Syncopation). Not every quarter-beat plays a note and some notes land off beat. The zeros in the sequence represent pauses. We always start with the root note, and each successive note is picked at random (`?`).

```html
<sequencer-blam bpm="90" id="transport">
  <track-blam to="notes-blam" chance="0.7">
    <bar-blam s="A1 0 ? 0 0 ? 0 ?"></bar-blam>
  </track-blam>
</sequencer-blam>
```

Secondly, extended pauses may or may not occur according to the `chance` setting, since only about 70% of all notes will be played at all. What’s especially neat here is that the root (**A1**) note at the start of each bar may not be played. And it _may_ be played on one of the `?` quarter-beats. In any case, _resolution_ (returning to the root) may be occassionally suspended, varying the length of phrases.

The third way pauses are introduced is by varying how long each note is sustained.

```html
<blam-blam prop="length" value="0.25|0.5|0.5|0.125"></blam-blam>
```

For each note `<notes-blam>` plays, `<blam-blam>` assigns one of its `|`-separated values. These are relative to the duration of the sample itself. It’s the sound of a bass player selectively lifting their finger from the fretboard to cut notes short. Common practice.

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<kbd-blam to="notes-blam" prop="play" key="1"></kbd-blam>
<kbd-blam to="notes-blam" prop="play" value="A1" key="2"></kbd-blam>
<watch-blam hidden from="audio-blam *:not(rings-blam)" to="#log" additive bypass>
  <li><strong>[[id]]</strong> [[name]] → [[newValue]]</li>
</watch-blam>
<blam-blam from="sequencer-blam" to="watch-blam" prop="bypass" event="blamplay" once></blam-blam>
{% endblock %}