---
title: A motif with some mojo
bpm: 100
visualiser:
  count: 6
elements: 
  - Notes
  - Pads
  - Bank 
  - Sample 
  - Blam
  - Dial
  - Chain 
  - Filter 
  - Envelope
  - Relay
  - Tap
  - Sequencer 
  - Track 
  - Repeat
  - Bar
  - Switch
  - Analyser
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block visual %}
  <div class="l-framed">
    <rings-blam 
      id="example" 
      fps="6"
      ratio="1 / 1"
      analyser="#analyser" 
      transport="#transport"
      style="inline-size: 75vw; max-block-size: 100%"
      count="{{ visualiser.count }}"
    >
    </rings-blam>
  </div>
{% endblock %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser" smoothing="0.5"></analyser-blam>
</chain-blam>
<notes-blam choke="0.02" notes="A1 A1 A1 C2 D2 D#2 E2 G1 A2 C3" gain="1.25">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/01.mp3" root="A1"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/02.mp3" root="C#2"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/03.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/bass/04.mp3" root="A2"></sample-blam>
  </bank-blam>
  <blam-blam prop="length" value="0.25|0.5|0.5|0.125|1"></blam-blam>
  <chain-blam out="bus">
    <filter-blam freq="8000" q="15">
      <envelope-blam prop="freq" curve="100 0, 2500 0.5" beats></envelope-blam>
    </filter-blam>
  </chain-blam>
  <relay-blam mode="one" chance="0.333" to="notes-blam">
    <envelope-blam to="notes-blam" prop="detune" curve="-300 0, 0 0.125" beats off></envelope-blam>
    <envelope-blam to="notes-blam" prop="detune" curve="0 0, 50 0.25, 0 0.5" beats off></envelope-blam>
  </relay-blam>
</notes-blam>
<pads-blam id="kick" out="bus" detune="300">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="hat" choke out="bus" detune="300">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus" detune="200">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snareSoft" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-soft/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-soft/02.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam id="transport">
  <track-blam id="bassTrack" to="notes-blam" chance="0.7">
    <repeat-blam x="3">
      <bar-blam s="A1 0 0 ? 0 ? ? 0"></bar-blam>
      <bar-blam s="C2 0 ? 0 0 ? ? 0"></bar-blam>
    </repeat-blam>
    <bar-blam s="0 G1 0 ? ? ? ? A2" chance="1"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.5" override="snareSoftTrack">
    <bar-blam s="1 0 0 3 0 2 1 0"></bar-blam>
    <bar-blam s="1 0 1 3 0 2 1 0"></bar-blam>
  </track-blam>
  <track-blam id="hatTrack" to="#hat" chance="0.9">
    <bar-blam s="1 0 2 0 1 ? ? 0 ?"></bar-blam>
    <bar-blam s="1 2 0 0 1 0 ?"></bar-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack snareSoftTrack" chance="0.9">
    <repeat-blam x="3">
      <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
      <bar-blam s="0 0 ? 0 0 0 0 0"></bar-blam>
    </repeat-blam>
    <bar-blam s="0 ? 0 ? ? ? ? ?" chance="1"></bar-blam>
  </track-blam>
  <track-blam id="snareSoftTrack" to="#snareSoft" chance="0.6">
    <bar-blam s="0 0 0 0 0 0 ? 0 0 0 ?"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 ? ? ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

It’s neat how the pattern keeps changing and generating new melodies and syncopations. But it’s perhaps a little too random. What might be nice is a periodic coalescence: a coming together of the separate threads to form a familiar motif or “hook”.

I’ve introduced a new element, `<repeat-blam>`, to repeat the same bass and snare patterns 3 times over.

```html
<track-blam id="bassTrack" to="notes-blam" chance="0.7">
  <repeat-blam x="3">
    <bar-blam s="A1 0 0 ? 0 ? ? 0"></bar-blam>
    <bar-blam s="C2 0 ? 0 0 ? ? 0"></bar-blam>
  </repeat-blam>
  <bar-blam s="0 G1 0 ? ? ? ? A2" chance="1"></bar-blam>
</track-blam>
...
<track-blam to="#snare" override="kickTrack snareSoftTrack" chance="0.9">
  <repeat-blam x="3">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
    <bar-blam s="0 0 ? 0 0 0 0 0"></bar-blam>
  </repeat-blam>
  <bar-blam s="0 ? 0 ? ? ? ? ?" chance="1"></bar-blam>
</track-blam>
```

But the final bar stands alone. Its overriding `chance` value of `1` means it plays out more predictably. In the snare’s case it performs a kind of roll. The base syncs with this roll, performing an argeggio that always lands on the octave up from the root: a resolution.

Important things to bear in mind:

1. Because the snare is already set to override the kick and soft/ghost snare tracks, no compositional changes for those tracks are needed. Their patterns don’t even need to share the same number of beats or bars.
2. Because the bass uses the `?` cipher up until the final **A2** note, the motif is not the same each time. It just has a similar _feel_.

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<dial-blam to="audio-blam" prop="bpm">
  <label>
    bpm
    <input type="range" min="60" max="180" step="1">
    <display-blam element="audio-blam" prop="bpm" aria-hidden="true"></display-blam>
  </label>
</dial-blam>
<switch-blam to="sequencer-blam" prop="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
{% endblock %}