---
title: Can one kick it?
elements: 
  - Pads 
  - Bank 
  - Sample 
  - Blam 
  - Display
  - Dial
  - Sequencer 
  - Track 
  - Bar 
  - Tap
  - Kbd
---

{% set previousPost = collections.beat | getPreviousCollectionItem %}
{% set nextPost = collections.beat | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam id="hat" choke="0.05" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="detune" value="-25~25"></blam-blam>
</pads-blam>
<pads-blam id="kick" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam to="#hat">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam to="#kick" chance="0.7">
    <bar-blam s="1 0 2 0 0 3"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

The samples for the kick drum come in different _velocities_. The first and second samples are high velocity (the kick is hit pretty hard) and the third less so. The simple, 6 quarter-beat pattern ends on sample `3`, giving emphasis to the `1` immediately after it.

I have introduced some probabilism via `chance`. There is a diminished `0.7` (70%) chance that any one of the kick samples/sounds will be triggered, at any time. In effect, the kick pattern now constantly changes. Given the pattern is 6 quarter-beats, we have established a polymeter with the hat pattern from the last example. Polymeters and probabilities quickly create music that (re)creates itself.

```html 
<sequencer-blam bpm="90" id="transport">
  <track-blam to="#hat">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam to="#kick" chance="0.7">
    <bar-blam s="1 0 2 0 0 3"></bar-blam>
  </track-blam>
</sequencer-blam>
```

Try listening for a short while to hear the ongoing changes in [syncopation](https://en.wikipedia.org/wiki/Syncopation).

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<dial-blam to="sequencer-blam" prop="bpm">
  <label>
    bpm
    <input type="range" min="60" max="180" step="1">
    <display-blam element="sequencer-blam" prop="bpm" aria-hidden="true"></display-blam>
  </label>
</dial-blam>
<kbd-blam to="#kick" prop="play" key="1"></kbd-blam>
<kbd-blam to="#hat" prop="play" key="2"></kbd-blam>
{% endblock %}