---
title: Snare makes the groove
elements: 
  - Pads 
  - Bank 
  - Sample 
  - Dial
  - Switch
  - Blam 
  - Display
  - Sequencer 
  - Track 
  - Bar 
  - Tap
  - Kbd
---

{% set previousPost = collections.beat | getPreviousCollectionItem %}
{% set nextPost = collections.beat | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam id="hat" choke="0.05" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="detune" value="0~60"></blam-blam>
</pads-blam>
<pads-blam id="kick" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="detune" value="-30~30"></blam-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam to="#hat">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.7">
    <bar-blam s="1 0 2 0 3"></bar-blam>
    <bar-blam s="1 0 2 0 3 0 ? 0"></bar-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

Up until now, the rhythm feels a bit loose and random, right? A bit jazz? What I want is a big old snare to strike on every 5 quarter-beats of 8. Regular, expected, satisfying. 

I have three snare samples, each striking slightly different parts of the skin. These are played at random, using the `?` cipher from previous examples.

```html 
<track-blam to="#snare" override="kickTrack">
  <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
</track-blam>
```

Given the polymetric nature of the pattern thus far, we have a problem. Sometimes the snare sound and the kick sound will coincide. As covered in the [Sequencing](/guides/sequencing) guide, this can be avoided using the `override` prop. With this in place, every time a snare _and_ a kick are scheduled to play, the kick will be silenced. 

Makes sense, because drummers rarely play a snare and a kick at the same time. Now it sounds like a drummer actively _choosing_ their kick and snare placement as they improvise.

In this example, I’ve introduce probably my favorite **HYPERBLAM** sequencing feature: `swing`. Start the pattern playing, then switch swing on at the bottom there. Hear the difference? See the [Humanization](/guides/humanization) guide for a breakdown of that algorithm.

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<dial-blam to="audio-blam" prop="bpm">
  <label>
    bpm
    <input type="range" min="60" max="180" step="1">
    <display-blam element="audio-blam" prop="bpm" aria-hidden="true"></display-blam>
  </label>
</dial-blam>
<switch-blam to="sequencer-blam" prop="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
<kbd-blam to="#snare" key="1" prop="play" value="1"></kbd-blam>
<kbd-blam to="#snare" key="2" prop="play"></kbd-blam>
{% endblock %}