---
title: Getting ghosted
elements: 
  - Pads 
  - Bank 
  - Sample 
  - Display
  - Dial
  - Blam 
  - Sequencer 
  - Track 
  - Bar 
  - Tap
  - Switch
  - Kbd
---

{% set previousPost = collections.beat | getPreviousCollectionItem %}
{% set nextPost = collections.beat | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam id="hat" choke="0.05" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="detune" value="0~60"></blam-blam>
</pads-blam>
<pads-blam id="kick" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snareSoft" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-soft/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedircdn}}/static/sounds/kit-garage/snare-soft/02.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam to="#hat" chance="0.8">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.7" override="snareSoftTrack">
    <bar-blam s="1 0 2 0 3"></bar-blam>
    <bar-blam s="1 0 2 0 3 0 ? 0"></bar-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack snareSoftTrack">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
  </track-blam>
  <track-blam id="snareSoftTrack" to="#snareSoft" chance="0.5">
    <bar-blam s="0 0 0 0 0 0 0 ? 0 0 ?"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 ? ? ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

To complete this infinite beat generating machine, I’ve introduced one more component: some soft (“ghost”) snare hits to fill in some occassional spaces. 

```html 
<track-blam id="kickTrack" to="#kick" chance="0.7" override="snareSoftTrack">
  <bar-blam s="1 0 2 0 3"></bar-blam>
  <bar-blam s="1 0 2 0 3 0 ? 0"></bar-blam>
</track-blam>
<track-blam to="#snare" override="kickTrack snareSoftTrack">
  <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
</track-blam>
<track-blam id="snareSoftTrack" to="#snareSoft" chance="0.5">
  <bar-blam s="0 0 0 0 0 0 ? 0 0 0 ?"></bar-blam>
  <bar-blam s="0 0 0 0 0 0 0 ? ? ?"></bar-blam>
</track-blam>
```

Note the liberal use of `override`. In addition to overriding the kick, the main snare track overrides the soft/ghost snare (because it doesn’t make sense playing the snare twice at the same time). The kick track works in reverse and overrides the soft snare (because we don’t want to lose too much of its underpinning _thump_).

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<dial-blam to="sequencer-blam" prop="bpm">
  <label>
    bpm
    <input type="range" min="60" max="180" step="1">
    <display-blam element="sequencer-blam" prop="bpm" aria-hidden="true"></display-blam>
  </label>
</dial-blam>
<switch-blam to="sequencer-blam" prop="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
<kbd-blam to="#kick" key="1" prop="play"></kbd-blam>
<kbd-blam to="#snare" key="2" prop="play"></kbd-blam>
<kbd-blam to="#snareSoft" key="3" prop="play"></kbd-blam>
<kbd-blam to="#hat" key="4" prop="play"></kbd-blam>
{% endblock %}