---
title: Saturation shenanigans
elements: 
  - Pads 
  - Bank 
  - Sample 
  - Display
  - Dial
  - Switch
  - Blam 
  - Saturator
  - Sequencer 
  - Track 
  - Bar 
  - Tap
---

{% set previousPost = collections.beat | getPreviousCollectionItem %}
{% set nextPost = collections.beat | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
  <saturator-blam amount="25"></saturator-blam>
</chain-blam>
<pads-blam id="hat" choke="0.05" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="detune" value="0~60"></blam-blam>
</pads-blam>
<pads-blam id="kick" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snareSoft" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/02.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport" swing>
  <track-blam to="#hat" chance="0.8">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.7" override="snareSoftTrack">
    <bar-blam s="1 0 2 0 3"></bar-blam>
    <bar-blam s="1 0 2 0 3 0 ? 0"></bar-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack snareSoftTrack">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
  </track-blam>
  <track-blam id="snareSoftTrack" to="#snareSoft" chance="0.5">
    <bar-blam s="0 0 0 0 0 0 0 ? 0 0 ?"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 ? ? ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

You may have noticed each demo includes a `<chain-blam>` with `id="bus"`. I’ve created a many-to-one relationship by connecting other chains and instruments to this shared one. Spot all the `out="bus"` props.
  
The advantage of a [mix bus](https://mackie.com/en/blog/all/what_mix_bus.html?srsltid=AfmBOopUScjCjDnzXbxzmk_Jo3XYi-w5pHB5MmY7NnK1alEP6T9yphGj) is that multiple sources can share the same effects and effect parameters. 

In this case, I have just an `<analyser-blam>` element and a newly introduced `<saturator-blam>`. The [**Analyser**](/elements/Analyser/) doesn’t actually affect the sound; it converts the signal into data for visualization. The [**Saturator**](http://localhost:8080/elements/Saturator/) really does affect the sound, though. _Big style_. 

The `<saturator-blam>` element is an interface for a web audio [`WaveShaperNode`](https://developer.mozilla.org/en-US/docs/Web/API/WaveShaperNode). This node literally lets you shape the incoming waveform, mathematically, and is usually applied to create distortion. Here, the bombastic distorted beat you are hearing is brought to you by...

```html
Math.tanh(x * a);
```

... where `a` represents the distortion amount. The element offers other algorithms via its `mode` prop. Each was created using trial and error because:

1. I’m not a mathematician.
2. Distortion _should_ sound messed up and unruly, so all the better that I don’t know what I’m doing here.

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<dial-blam to="saturator-blam" prop="amount">
  <label>
    amount
    <input type="range" min="0" max="100" step="1">
  </label>
</dial-blam>
<switch-blam to="saturator-blam" prop="bypass">
  <label>
    bypass
    <input type="checkbox">
  </label>
</switch-blam>
<kbd-blam to="#kick" key="1" prop="play"></kbd-blam>
<kbd-blam to="#snare" key="2" prop="play"></kbd-blam>
<kbd-blam to="#snareSoft" key="3" prop="play"></kbd-blam>
<kbd-blam to="#hat" key="4" prop="play"></kbd-blam>
{% endblock %}