---
title: Ch-ch-ch-chocolate
visualiser:
  count: 12
elements: 
  - Chain 
  - Analyser 
  - Sequencer 
  - Pads 
  - LFO 
  - Blam 
  - Envelope 
  - Repeat
  - Pan
  - Track 
  - Bar 
  - Bank 
  - Sample 
  - Tap 
---

{% set previousPost = collections.other | getPreviousCollectionItem %}
{% set nextPost = collections.other | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <saturator-blam mode="4" amount="73" mix="0" lowcut="1000" highcut="8000"></saturator-blam>
  <analyser-blam id="analyser" smoothing="0.25"></analyser-blam>
</chain-blam>
<sequencer-blam bpm="94" id="transport" swing="0.2">
  <pads-blam out="bus" id="scratch" bank="stabBank" gain="0.6" choke>
    <lfo-blam id="wobble" prop="detune" gain="700" beats="0.7"></lfo-blam>
    <blam-blam prop="length" value="0.0625~0.15"></blam-blam>
    <blam-blam prop="reverse" value="1|0"></blam-blam>
  </pads-blam>
  <pads-blam out="bus" id="release" bank="stabBank" gain="0.6" choke>
    <envelope-blam prop="detune" curve="-700 0, 0 0.25" beats></envelope-blam>
    <blam-blam prop="length" value="4|0.75"></blam-blam>
  </pads-blam>
  <pads-blam out="bus" id="drums" bank="drumsBank" gain="1.5">
    <blam-blam prop="detune" value="-200~200"></blam-blam>
  </pads-blam>
  <pads-blam id="blip" bank="blipBank">
    <chain-blam out="bus">
      <pan-blam pan="0.5"></pan-blam>
    </chain-blam>
    <blam-blam prop="detune" value="0|100|300"></blam-blam>
  </pads-blam>
  <notes-blam out="bus" id="bass" bank="bassBank" gain="0.3" choke></notes-blam>
  <pads-blam out="bus" id="piano" bank="pianoBank" gain="1.25">
    <envelope-blam prop="detune" curve="100 0, 0 0.05, 0 0.8, -100 1"></envelope-blam>
  </pads-blam>
  <pads-blam id="oooh" gain="0.3">
    <bank-blam>
      <sample-blam src="{{site.basedir}}/static/sounds/chocolate/oooh.mp3"></sample-blam>
    </bank-blam>
    <chain-blam out="bus">
      <echo-blam feedback="0.3"></echo-blam>
    </chain-blam>
  </pads-blam>
  <track-blam class="tay" to="#scratch" chance="0.6">
    <repeat-blam x="16">
      <bar-blam s="0"></bar-blam>
    </repeat-blam>
    <repeat-blam x="16">
      <bar-blam s="1"></bar-blam>
    </repeat-blam>
  </track-blam>
  <track-blam class="tay" to="#release">
    <bar-blam s="1"></bar-blam>
    <repeat-blam x="15">
      <bar-blam s="0"></bar-blam>
    </repeat-blam>
    <repeat-blam x="16">
      <bar-blam s="0"></bar-blam>
    </repeat-blam>    
  </track-blam>
  <track-blam to="#drums" chance="0.8">
    <bar-blam s="1 0 0 5 3 0 0 ?"></bar-blam>
    <bar-blam s="1 0 0 2 4 0 5 2"></bar-blam>
    <bar-blam s="1 3 1 2 0 0 0 4"></bar-blam>
  </track-blam>
  <track-blam class="tune" id="bassTrack" override="blipTrack" to="#bass" suspend>
    <bar-blam s="E2 0 E3 G#3"></bar-blam>
    <repeat-blam x="3">
      <bar-blam s="0 0 0 0"></bar-blam>
    </repeat-blam>
    <bar-blam s="G2 0 G3 A#3"></bar-blam>
    <bar-blam s="0 0 0 0"></bar-blam>
    <bar-blam s="F2 0 C3 A3"></bar-blam>
    <bar-blam s="0 0 0 0"></bar-blam>
    <bar-blam s="E2 0 E3 G#3"></bar-blam>
    <repeat-blam x="3">
      <bar-blam s="0 0 0 0"></bar-blam>
    </repeat-blam>
    <bar-blam s="D2 D3 A2 F3" fill chance="0.75"></bar-blam>
    <bar-blam s="D3 F4 A3 F3" fill chance="0.5"></bar-blam>
  </track-blam>
  <track-blam class="tune tay" to="#blip" id="blipTrack" chance="0.2" suspend>
    <bar-blam s="1"></bar-blam>
  </track-blam>
  <track-blam id="pianoTrack" to="#piano">
    <bar-blam s="1 0 0 0"></bar-blam>
    <repeat-blam x="13">
      <bar-blam s="0 0 0 0"></bar-blam>
    </repeat-blam>    
  </track-blam>
  <track-blam to="#oooh" override="pianoTrack bassTrack" chance="0.5">
    <bar-blam s="0 0 0 0"></bar-blam>
    <bar-blam s="0 0 0 0"></bar-blam>
    <bar-blam s="0 0 0 0"></bar-blam>
    <bar-blam s="1 0 0 0"></bar-blam>
    <repeat-blam x="9">
      <bar-blam s="0 0 0 0"></bar-blam>
    </repeat-blam>    
  </track-blam>
  <bank-blam id="stabBank">
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/tay.mp3" reverse></sample-blam>
  </bank-blam>
  <bank-blam id="bassBank">
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/bass/01.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/bass/02.mp3" root="E3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/bass/03.mp3" root="G#3"></sample-blam>
  </bank-blam>
  <bank-blam id="drumsBank">
    <sample-blam src="{{site.basedir}}/static/sounds/dissonant/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/dissonant/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/clap/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/clap/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/clap/03.mp3"></sample-blam>
  </bank-blam>
  <bank-blam id="blipBank">
    <sample-blam src="{{site.basedir}}/static/sounds/dissonant/blip/01.mp3"></sample-blam>
  </bank-blam>
  <bank-blam id="pianoBank">
    <sample-blam src="{{site.basedir}}/static/sounds/chocolate/piano.mp3"></sample-blam>
  </bank-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

By manipulating a few different properties, it’s possible to emulate [scratching](https://en.wikipedia.org/wiki/Scratching) with a reasonable degree of realism.

In this case, I’ve taken a vocal sample from Tay Zonay’s 2006 [**Chocolate Rain**](https://www.youtube.com/watch?v=EwTZ2xpQwpA). I’m going for a “baby scratch” which just involves moving the record back and forth over the same sound—no crossfader control required.

The `#scratch` track has a basic pattern: the first 16 quarter-beats each play the sample. The second 16 are silent. I've used `<repeat-blam>` to stop this getting too verbose.

```html
<track-blam to="#scratch" chance="0.6">
  <repeat-blam x="16">
    <bar-blam s="1"></bar-blam>
  </repeat-blam>
  <repeat-blam x="16">
    <bar-blam s="0"></bar-blam>
  </repeat-blam>
</track-blam>
```

The sample itself is reversed every other time, moving back and forth over the sample. 

```html
<blam-blam prop="reverse" value="1|0"></blam-blam>
```

The effect is humanized in a number of ways. Firstly, note the `chance="0.6"` attribution on `<track-blam>`. This creates gaps/pauses, as if the turntablist is improvising a rhythm. The `length` is also fluctuated—because sometimes you might stop dead while still over part of the sound. 

```html
<blam-blam prop="length" value="0.0625~0.15"></blam-blam>
```

Finally, an LFO performs a continuous permutation of the sample pitch (via the `detune` prop). The speed of each scratching motion would not be regular or stable.

```html 
<lfo-blam prop="detune" gain="700" beats="0.7"></lfo-blam>
```

You can make the scratches sound sloppier or sharper using the **speed** slider. Imagine smoother or jerkier wrist motions.

A second instrument plays the same **Chocolate Rain** sample at the end of each scratching phrase; either “chocolate rain” or just “chocolate”. An `<envelope-blam>` ramps the sample up to speed. Turntables do not go from `0` to the correct speed in an instant—even when guided by hand.

```html 
<envelope-blam prop="detune" curve="-700 0, 0 0.25" beats></envelope-blam>
<blam-blam prop="length" value="4|0.75"></blam-blam>
```

The bass part also has so variety. There's just three samples but played (using `<notes-blam>`) over four arpeggiated chords. A happy accident: samples repitched to higher notes end up shorter, varying the release time. Some notes are _jabbed_ very briefly.
  
The final two bars are in `fill` mode, meaning notes and note placement are randomized like an improvisation.

```html
<bar-blam s="D2 D3 A2 F3" fill chance="0.75"></bar-blam>
<bar-blam s="D3 F4 A3 F3" fill chance="0.5"></bar-blam>
```

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<kbd-blam key="1" to="#scratch" prop="play"></kbd-blam>
<kbd-blam key="2" to="#release" prop="play" value="1"></kbd-blam>

<dial-blam to="#scratch" prop="detune">
  <label>
    speed
    <input type="range" min="-300" max="800" step="any">
  </label>
</dial-blam>
<switch-blam to="#wobble" prop="beats" value="0.1" ramp="1">
  <label>
    squelch
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to=".tune" prop="suspend" reverse>
  <label>
    bass
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to=".tay" prop="solo">
  <label>
    break
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="saturator-blam" prop="mix" value="1" ramp="3">
  <label>
    megaphone
    <input type="checkbox">
  </label>
</switch-blam>
<watch-blam from="audio-blam *:not(bands-blam)" to="log" additive bypass>
  <li><strong>[[id]]</strong> [[name]] → [[newValue]]</li>
</watch-blam>
<blam-blam from="sequencer-blam" to="watch-blam" prop="bypass" event="blamplay" once></blam-blam>
{% endblock %}