---
title: Typerblam
bpm: 150
visualiser:
  count: 16
elements: 
  - Sample 
  - Chain 
  - Analyser 
  - Blam 
  - Bank 
  - One 
  - Sequencer 
  - Track 
  - Bar
---

{% extends 'layouts/example.njk' %}

{% block visual %}
<style>
  #glyphs {
    transform: scale(max(0.25, var(--stretch-x)), max(0.25, var(--stretch-y)));
  }

  @keyframes jolt {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-0.75rem);
    }
    40% {
      transform: translateY(0.5rem);
    }
    60% {
      transform: translateY(-0.25rem);
    }
    80% {
      transform: translateY(0.125rem);
    }
    100% {
      transform: translateY(0rem);
    }
  }

  #glyphs > div {
    line-height: 0;
    font-size: 100cqmin;
    animation: jolt 0.15s linear 1;
    animation-fill-mode: forwards;
    font-family: Georgia, serif;
  }
</style>
<div id="glyphs" role="img" aria-label="Animation that shows letters spelling out HyperBlam when typing sound is audible" from="#keys" class="l-screen" cycle>
  <div hidden>H</div>
  <div hidden>Y</div>
  <div hidden>P</div>
  <div hidden>E</div>
  <div hidden>R</div>
  <div hidden>B</div>
  <div hidden>L</div>
  <div hidden>A</div>
  <div hidden>M</div>
</div>
{% endblock %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam gain="100"></analyser-blam>
</chain-blam>
<pads-blam id="keys" out="bus" choke>
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/effects/key-01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/effects/key-02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/effects/key-03.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/effects/key-04.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/effects/key-05.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="--stretch-x" to="#glyphs" value="0~1"></blam-blam>
  <blam-blam prop="--stretch-y" to="#glyphs" value="0~1"></blam-blam>
  <one-blam prop="hidden" to="#glyphs > *" fwd revert></one-blam>
</pads-blam>
<sequencer-blam>
  <track-blam to="#keys">
    <bar-blam s="?" chance="0.3"></bar-blam>
  </track-blam>
</sequencer-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

This simple visualization introduces a new event-based element: `<one-blam>`. It works like `<blam-blam>` but one affects _one_ of the selected `to` elements each event. In this case, it’s used with `fwd` (_forward_), meaning each selected element is affected _in order_, at each event.

```html 
<one-blam prop="hidden" to="#glyphs > *" fwd revert></one-blam>
```

Every time the parent `<pads-blam>` triggers a sound, the next `#glyphs > *` element is unhidden. Since `revert` is also in place, all but the selected element are reverted to their initial `hidden` state each time.

The `<one-blam>` is used in conjunction with a couple of `<blam-blam>`s setting CSS custom properties. These are like seed numbers, setting a random value between `0` and `1` at each sound event:

```html 
<blam-blam prop="--stretch-x" to="#glyphs" value="0~1"></blam-blam>
<blam-blam prop="--stretch-y" to="#glyphs" value="0~1"></blam-blam>
```

The CSS applies these to _stretch_ the characters in different ways. Note the use of CSS’s `max()` function here, making sure no glyph is ever squished below `0.25` (25%) along either axis.

```css 
show-blam {
  transform: scale(max(0.25, var(--stretch-x)), max(0.25, var(--stretch-y)));
}
```

Each character’s element has a CSS animation applied that jolts/shakes the character as it is unhidden. This is a visual metaphor for the rattling sound of the keys.

```css 
animation: jolt 0.15s linear 1;
```

{% endrenderTemplate %}

{% endblock %}

{% block controls %}

<tap-blam to="sequencer-blam" prop="playStop">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playStop' %}</button>
</tap-blam>
<dial-blam to="audio-blam" prop="bpm">
  <label>
  speed
  <input type="range" min="60" max="180">
  </label>
</dial-blam>

{% endblock %}