<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} : {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a href="#main">skip to content</a>
    <nav>
      {% block nav %}
      {% endblock %}
    </nav>
    <main id="main" tabindex="-1">
      {% block main %}
        {{ content | toc | safe }}
        <h1>{{ title }}</h1>
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>