@font-face {
  font-family: 'Heydon Caps';
  src:  url('fonts/HeydonCaps.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Courier Prime';
  src:  url('fonts/CourierPrime-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Courier Prime';
  src:  url('fonts/CourierPrime-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Courier Prime';
  src:  url('fonts/CourierPrime-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}