:root {
  --color-fore: #fff;
  --color-back: #101010;
  --measure: 40rem;
  --s-xs: 0.4rem;
  --s-s: 0.75rem;
  --s-m: 1.5rem;
  --s-l: 2.5rem;
  --s-xl: 3.5rem;
  --font: Courier Prime, monospace;
  --font-special: Heydon Caps, cursive;
  --wave-square: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20"><path fill="none" d="M0 19, 20 19, 20 1, 39 1, 39.5 20.5" stroke="%23EEE" stroke-width="2" stroke-linecap="square"></path></svg>');
  --wave-triangle: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20"><path fill="none" d="M-1 19.5, 20 1.5, 41 19.5" stroke="%23EEE" stroke-width="2"></path></svg>');
  --wave-sawtooth: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20"><path fill="none" d="M-1 19.5, 39 1.5, 39 20" stroke="%23EEE" stroke-width="2"></path></svg>');
  --wave-sine: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20"><path fill="none" d="M-1,11.5 C 20,-20 20,40 41,8.9" stroke="%23eee" stroke-width="2"></path></svg>');
  color: var(--color-fore);
  font-family: var(--font);
  font-size: clamp(1rem, 3vmin, 1.4rem);
  background-color: var(--color-back);
  line-height: 1.5;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--s-m) var(--s-s);
}

main :where(ol, ul) {
  padding-inline-start: var(--s-s);
}

a {
  text-decoration-style: wavy;
  text-underline-offset: 0.25em;
}

a:hover {
  text-underline-offset: 0.333em;
}

img, picture, video, canvas, svg {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: auto;
  margin-inline: auto;
}

:focus-visible {
  outline: 1px dashed var(--color-fore);
  outline-offset: 0.125em;
}

[tabindex="-1"]:focus-visible {
  outline: none;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3 {
  font-weight: normal;
  overflow-wrap: break-word;
  text-wrap: balance;
  font-family: var(--font-special);
  line-height: 1;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

em, strong {
  line-height: 1;
  font-size: 1.125em;
}

strong {
  letter-spacing: 1px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid;
  padding: var(--s-s);
  text-align: left;
}

tr + tr td:not(:last-child) {
  text-align: center;
}

nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-block-end: var(--s-m);
}

nav li:nth-child(odd), nav li:nth-child(even):hover {
  transform: rotate(1.5deg);
}

nav li:nth-child(even), nav li:nth-child(odd):hover {
  transform: rotate(-1.5deg);
}

nav a {
  font-weight: bold;
}

nav a:not(:hover) {
  text-decoration: none;
}

pre, figure {
  padding: var(--s-m) 0;
  overflow-x: auto;
}

footer {
  padding: var(--s-l);
  text-align: center;
}

pre code {
  display: block;
  padding: var(--s-m) 0;
}

:where(pre, figure)::before,
:where(pre, figure)::after {
  content: '';
  display: block;
  block-size: 0.4rem;
  background-image: var(--wave-sine);
}

code {
  font-family: Menlo, Monaco, Courier New, Courier, monospace;
  font-weight: bold;
}

code:not(pre > *) {
  border: 1px dotted;
  border-radius: 0.25em;
  font-size: 0.8em;
  padding: 0.125em 0.25rem;
}

pre code {
  font-weight: normal;
}

/* layouts */

.l-box {
  padding: var(--box-padding, var(--s-s));
}

.l-column > * {
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.l-column > :where(div, img, svg, aside, hr, pre, form, p:has(img)) {
  max-inline-size: calc(var(--measure) + 10rem);
}

.l-cluster {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--cluster-gap, var(--s-m));
  justify-content: center;
}

.l-flow > * + * {
  margin-block-start: var(--s-l);
}

.l-flow > p:not(:has(img)) + p:not(:has(img)) {
  margin-block-start: var(--s-s);
}

.l-skip:not(:focus-visible) {
  block-size: 0;
  padding: 0;
}

.l-skip {
  outline: none;
  display: block;
  text-align: center;
  padding: var(--s-s);
  color: var(--color-back);
  background-color: var(--color-fore);
  margin-block-end: var(--s-m);
}

.l-index {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-m);
  font-size: 1.5rem;
  font-family: var(--font-special);
  line-height: 1;
}

/* components */

.c-logo {
  max-inline-size: 12rem;
  margin-block-end: var(--s-s);
}

.c-logo:where(:hover, :focus) .transmit {
  animation: flash 0.6s steps(1) infinite;
}

.transmit.two { animation-delay: 0.2s }

.transmit.three { animation-delay: 0.4s }

/* basic utilities */

.u-font-special {
  font-family: var(--font-special);
}

.u-font-smaller {
  font-size: 0.75rem;
}

.u-glyph-icon {
  font-family: var(--font-special);
  padding: 0.25rem;
  font-weight: normal;
}

/* form controls */

input, button {
  cursor: pointer;
}

form {
  border: 1px solid;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--s-m);
  gap: var(--s-m);
}

label {
  display: flex;
  gap: var(--s-xs);
  line-height: 1;
  align-items: center;
}

button {
  background-color: var(--color-back);
  border: 2px solid;
  border-radius: 0.25rem;
  padding: 0.333em 0.666em;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  filter: invert(1);
}

[type="range"] { 
  accent-color: white; 
  filter: brightness(1000);
  inline-size: 100%;
  max-inline-size: 8rem;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  inline-size: 1.75rem;
  block-size: 0.5rem;
  border-radius: 0.125rem;
  background-color: var(--color-fore);
  display: flex;
  align-items: center;
}

[type="checkbox"]::before {
  content: '';
  display: inline-block;
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 100%;
  border: 3px solid;
  background-color: var(--color-back);
  outline: 3px solid var(--color-back);
}

[type="checkbox"]:checked {
  justify-content: flex-end;
}

/* animations */

[class*="u-wave"] {
  border: 0;
  block-size: 3.5rem;
  background-size: auto 50%;
  background-repeat: repeat-x;
  background-position: 0 center;
  animation: osc auto ease-in-out, amp auto linear;
  animation-timeline: view();
  filter: url(#noise-big);
}

.u-wave-square {
  background-image: var(--wave-square);
}

.u-wave-triangle {
  background-image: var(--wave-triangle);
}

.u-wave-sawtooth {
  background-image: var(--wave-sawtooth);
}

.u-wave-sine {
  background-image: var(--wave-sine);
}

@keyframes osc {
  0% {
    background-position: 0 center;
  }
  40% {
    background-position: 36rem center;
  }
  100% {
    background-position: 0 center;
  }
}

@keyframes amp {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.125);
  }
  100% {
    transform: scaleY(1);
  }
}

.u-squiggle, main img[src*="/illustration"] {
  animation: squiggle 0.25s linear infinite;
}

@keyframes squiggle {
  0% {
    filter: url("#noise-1");
  }
  33% {
    filter: url("#noise-2");
  }
  66% {
    filter: url("#noise-3");
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}