---
title: Just the samples
elements: 
  - Pads
  - Bank 
  - Sample 
  - Tap
---

{% set previousPost = collections.bass| getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam choke robin out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/03.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/04.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<tap-blam id="transport" to="pads-blam" prop="play">
  <button class="u-round">{% icon 'play' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
{% endblock %}