---
title: A (minor) pentatonic party
elements: 
  - Notes
  - Bank 
  - Sample 
  - Tap
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<notes-blam choke out="bus" notes="A1 A1 A1 C2 D2 D#2 E2 G1 A2">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/01.mp3" root="A1"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/02.mp3" root="C#2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/03.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/04.mp3" root="A2"></sample-blam>
  </bank-blam>
</notes-blam>
<tap-blam id="transport" to="notes-blam" prop="play">
  <button class="u-round">{% icon 'play' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
{% endblock %}