---
title: Breathe and stop
elements: 
  - Notes
  - Bank 
  - Sample 
  - Blam
  - Chain 
  - Filter 
  - Envelope
  - Tap
  - Sequencer 
  - Track 
  - Bar
  - Switch
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<notes-blam choke notes="A1 A1 A1 C2 D2 D#2 E2 G1 A2 C3">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/01.mp3" root="A1"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/02.mp3" root="C#2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/03.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/04.mp3" root="A2"></sample-blam>
  </bank-blam>
  <blam-blam prop="length" value="0.25|0.5|0.5|0.125"></blam-blam>
  <chain-blam out="bus">
    <filter-blam freq="8000" q="10" bypass>
      <envelope-blam prop="freq" curve="200 0, 11000 0.25"></envelope-blam>
    </filter-blam>
  </chain-blam>
  <envelope-blam id="bends" prop="detune" curve="-200 0, 0 0.125" beats chance="0"></envelope-blam>
</notes-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam to="notes-blam" chance="0.7">
    <bar-blam s="A1 0 ? 0 0 ? 0 ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam id="transport" to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
<switch-blam to="sequencer-blam" prop="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="#bends" prop="chance" value="0.333">
  <label>
    bends
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="filter-blam" prop="bypass" reverse>
  <label>
    filter
    <input type="checkbox">
  </label>
</switch-blam>
{% endblock %}