---
title: Lurching Lengths
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <!--<reverb-blam wet="0.05" cutoff="200">
    <sample-blam src="{{site.basedir}}/static/sounds/IRs/plate.mp3"></sample-blam>
  </reverb-blam>-->
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<notes-blam choke notes="A1 A1 A1 C2 D2 D#2 E2 G1">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/01.mp3" root="A1"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/02.mp3" root="C#2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/03.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/04.mp3" root="A2"></sample-blam>
  </bank-blam>
  <blam-blam target="length" value="0.25|0.5|0.5|0.125"></blam-blam>
  <chain-blam out="bus">
    <filter-blam freq="8000" q="10" bypass>
      <envelope-blam target="freq" curve="300 0, 11000 0.25"></envelope-blam>
    </filter-blam>
  </chain-blam>
  <envelope-blam id="bends" target="detune" curve="-200 0, 0 0.125" beats chance="0"></envelope-blam>
</notes-blam>
<pads-blam id="hat" choke out="bus" detune="1000">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam to="notes-blam" chance="0.7">
    <bar-blam s="A1 0 ? 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam to="#hat" >
    <bar-blam s="1 0 0 0 2 0 0 0"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam id="transport" to="sequencer-blam" target="playPause">
  <button aria-pressed="false" class="u-round">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
<switch-blam to="sequencer-blam" target="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="#bends" target="chance" value="0.333">
  <label>
    bends
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="filter-blam" target="bypass" reverse>
  <label>
    filter
    <input type="checkbox">
  </label>
</switch-blam>
{% endblock %}