---
title: Give the drummer some
visualiser:
  count: 16
elements: 
  - Notes
  - Pads
  - Bank 
  - Sample 
  - Blam
  - Chain 
  - Filter 
  - Envelope
  - Tap
  - Sequencer 
  - Track 
  - Bar
  - Switch
---

{% set previousPost = collections.bass | getPreviousCollectionItem %}
{% set nextPost = collections.bass | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<notes-blam choke notes="A1 A1 A1 C2 D2 D#2 E2 G1 A2 C3">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/01.mp3" root="A1"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/02.mp3" root="C#2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/03.mp3" root="E2"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/bass/04.mp3" root="A2"></sample-blam>
  </bank-blam>
  <blam-blam prop="length" value="0.25|0.5|0.5|0.125|1"></blam-blam>
  <chain-blam out="bus">
    <filter-blam freq="8000" q="10">
      <envelope-blam prop="freq" curve="200 0, 11000 0.25"></envelope-blam>
    </filter-blam>
  </chain-blam>
  <envelope-blam id="bends" prop="detune" curve="-100 0, 0 0.125" beats chance="0.333"></envelope-blam>
</notes-blam>
<pads-blam id="kick" out="bus" detune="300">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="hat" choke out="bus" detune="300">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus" detune="200">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snareSoft" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/02.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam id="bassTrack" to="notes-blam" chance="0.75">
    <bar-blam s="A1 0 0 ? 0 ? ? 0"></bar-blam>
    <bar-blam s="C2 0 ? 0 0 ? ? 0"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.5" override="snareSoftTrack">
    <bar-blam s="1 0 0 3 0 2 1 0"></bar-blam>
    <bar-blam s="1 0 1 3 0 2 1 0"></bar-blam>
  </track-blam>
  <track-blam id="hatTrack" to="#hat" chance="1">
    <bar-blam s="1 0 2 0 1 ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 1 0 ?"></bar-blam>
    <blam-blam prop="solo" chance="0.1" revert></blam-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack snareSoftTrack" chance="0.9">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
    <bar-blam s="0 0 ? 0 0 0 0 0"></bar-blam>
  </track-blam>
  <track-blam id="snareSoftTrack" to="#snareSoft" chance="0.6">
    <bar-blam s="0 0 0 0 0 0 ? 0 0 0 ?"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 ? ? ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam id="transport" to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
<switch-blam to="sequencer-blam" prop="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="#bassTrack" prop="solo">
  <label>
    bass solo
    <input type="checkbox">
  </label>
</switch-blam>
<switch-blam to="#hatTrack" prop="solo">
  <label>
    hat solo
    <input type="checkbox">
  </label>
</switch-blam>
{% endblock %}