{% extends 'layouts/index.njk' %}

{% block main %}
  <main class="l-column l-flow" tabindex="-1">
    <h1>{{ title }}</h1>
    {{ content | safe }}
    <hr>
    {% block iteration %}
      {% for group in site.exampleData %}
        <h2 id="{{group.tags}}examples" tabindex="-1">{{ group.title }}</h2>
        {{ group.summary | md | safe }}
        <ul class="l-examples">
          {% for post in collections[group.tags] | sort(attribute='fileSlug') %}
            <li>
              {% if not post.data.unnumbered %}{{ loop.index }}. {% endif %}
              <a href="{{site.basedir}}{{post.url}}">{{ post.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endblock %}
    <aside class="l-with-sidebar c-sandbox" aria-describedby="sandbox-label">
        <img src="{{site.basedircdn}}/static/images/sandbox.svg" alt="A bucket and shovel in a pile of sand">
        <div class="l-flow">
            <h2><a href="https://codepen.io/heydon/pen/RNKgMEe" id="sandbox-label">Try the sandbox!</a></h2>
            <p>Probably the easiest way to get started is opening up <a href="https://codepen.io/heydon/pen/RNKgMEe">the sandbox</a>, hosted on CodePen. You get a tune with a lot of samples, different instruments, and effects to try or swap out.</p>
        </div>
    </aside>
  </main>
{% endblock %}