{% extends 'layouts/index.njk' %}

{% block main %}
  <main class="l-column l-flow" tabindex="-1">
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {% block iteration %}
      <ul class="l-grid">
        {% for post in collections[key] %}
          <li class="l-card">
            <img src="{{site.basedircdn}}/static/images/guides/{{post.data.title | slugify}}.svg" alt="">
            <a href="{{site.basedir}}{{post.url}}">
              {{ post.data.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </main>
{% endblock %}