{% extends 'layouts/base.njk' %}

{% block bodyTag %}
<body class="l-scroll u-chevrons">
{% endblock %}

{% block nav %}
<header class="l-box u-blend-difference l-fixed">
  <a href="#main" class="l-skip">skip to content</a>
  <nav>
    <a class="c-logo c-logo-small" href="{{site.basedir}}/examples/" aria-label="Hyperblam examples index">
      {{ logo | safe }}
    </a>
  </nav>
  <h1 class="u-vh">{{ title }}</h1>
</header>
{% endblock %}
{% block main %}
<audio-blam>
  <main class="l-scroll__main" tabindex="-1">
    {% block visual %}
    {% endblock %}
    <blam-blam prop="hidden" from="audio-blam" to=".l-loading" event="blamsources"></blam-blam>
    <div class="l-frame l-view">
      <div class="l-framed">
        {% block audio %}
        {% endblock %}
      </div>
    </div>
    <div role="progressbar" class="l-framed l-loading">loading<span class="u-flash">...</span></div>
    {% block objects %}
      <div class="l-scroll__intersectable"></div>
    {% endblock %}
  </main>
  <dialog>
    <header>
      <button class="u-ghost" aria-label="close">
        <svg viewBox="0 0 32 32" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"><path transform-box="fill-box" transform-origin="center" transform="rotate(45)" d="M8 15, 24 15, 24 17, 8 17z"></path><path transform-box="fill-box" transform-origin="center" transform="rotate(-45)" d="M8 15, 24 15, 24 17, 8 17z"></path></svg>
      </button>
    </header>
    <div class="l-flow">
      {% block dialog %}
      {% endblock %}
    </div>
  </dialog>
{% endblock %}

{% block footer %}
<footer class="l-box l-fixed l-fixed--end u-blend-difference">
  <div class="l-cluster">
    {% block controls %}
    {% endblock %}
    <button id="info" aria-label="info about this Hyperblam experiment">INFO</button>
  </div>
  <nav class="l-cluster" aria-label="more examples">
    {% if previousPost %}
      <a class="u-font-special" href="{{ previousPost.url }}" aria-label="previous example">← prev</a>     
    {% endif %}
    {% if nextPost %}
      <a class="u-font-special" href="{{ nextPost.url }}" aria-label="next example">next →</a>
    {% else %}
      <a class="u-font-special" href="{{site.basedir}}/examples/" aria-label="next example">index</a>
    {% endif %}
  </nav>
</footer>
</audio-blam>
{% endblock %}

{% block scripts %}
<script type="module" src="{{site.basedir}}/{{site.hyperblampath}}"></script>
<script type="module">
  import { dialog } from '{{site.basedir}}/static/js/dialog.js';
  dialog('dialog', '#info');
  window.addEventListener('blamready', () => console.log('window on ready'));
</script>
{% endblock %}