---
title: Baby’s first blam
elements:
  - Media 
  - Chain 
  - Gain 
  - Lfo
  - Reverb
  - Blam
  - Dial 
---

{% set previousPost = collections.chain | getPreviousCollectionItem %}
{% set nextPost = collections.chain | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block visual %}
  <div class="l-frame__framed">
    <rings-blam 
      id="example" 
      fps="9"
      ratio="1 / 1"
      analyser="#analyser" 
      transport="#transport"
      style="inline-size: 75vw; max-block-size: 100%"
      count="{{ visualiser.count }}"
    >
    </rings-blam>
  </div>
{% endblock %}

{% block audio %}
<chain-blam id="bus">
  <reverb-blam mix="0.5">
    <sample-blam src="{{ site.basedir }}/static/sounds/IRs/stadium.mp3"></sample-blam>
  </reverb-blam>
  <analyser-blam id="analyser" smoothing="0.25"></analyser-blam>
</chain-blam>
<media-blam id="transport">
  <audio class="u-blend-difference" controls src="{{site.basedir}}/static/sounds/minimal/piano.mp3"></audio>
  <p class="u-blend-difference" style="margin-block-start: var(--s-s)">
    <small>(play and replay to hear the change in character...)</small>
  </p>
  <chain-blam out="bus">
    <gain-blam gain="0.5">
      <lfo-blam id="hlfo" prop="gain" gain="0.5" beats="0.001" type="square">
        <blam-blam prop="beats" value="0.001~0.009"></blam-blam>
      </lfo-blam>
    </gain-blam>
    <filter-blam type="highpass" freq="110"></filter-blam>
  </chain-blam>
</media-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

It’s time to introduce the eponymous `<blam-blam>` element. While LFOs change (_modulate_) values over time, **HYPERBLAM’s** own `<blam-blam>` element changes a value from one to another. 

While this may sound quite pedestrian, it’s actually pretty powerful, for a few reasons:

1. You get to choose the event at which the value changes
2. You get to randomize what the new value will be
3. You get to control the probability of this change in value taking place

A few artfully deployed `<blam-blam>` elements can turn a repetitive loop into a permutating composition. It can be the difference between basic beat making and generative sound design.

```html
<lfo-blam prop="gain" gain="0.5" beats="0.001" type="square">
  <blam-blam prop="beats" value="0.001~0.009"></blam-blam>
</lfo-blam>
```

In this rudimentary example, the `<blam-blam>` listens to its ancestor `<media-blam>`’s `blam` event, which occurs every time playback is restarted. It responds by applying a new `beats` value to its subject `<lfo-blam>`. Each time, a value between `0.001` and `0.009` is taken. These are very high values for a so-called Low Frequency Oscillator. The high frequency amplitude modulation in this range creates the curious metallic sounds you are hearing.

Following the high frequency tremolo effect is a `<reverb-blam>`. This takes the acoustic footprint of a large stadium as an [impulse response](https://en.wikipedia.org/wiki/Impulse_response) and applies it to the incoming sound.   

```html
<reverb-blam mix="0.5">
  <sample-blam src="/static/sounds/IRs/stadium.mp3"></sample-blam>
</reverb-blam>
```

The reverb creates a sense of space, as well as softening the edges of an otherwise rather harsh sound. 

To further smoothen the sound, a `<switch-blam>` is provided for toggling the LFO’s `type` from `square` (“teetaateetaateeta”) to `sine` (“wooweewooweewoowoo”).

```html 
<switch-blam to="#hlfo" prop="type" value="sine">
  <label>
    smooth
    <input type="checkbox">
  </label>
</switch-blam>
```

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<dial-blam to="reverb-blam" prop="mix">
  <label>
    reverb
    <input type="range" min="0" max="1" step="any">
  </label>
</dial-blam>
<switch-blam to="#hlfo" prop="type" value="sine">
  <label>
    smooth
    <input type="checkbox">
  </label>
</switch-blam>
{% endblock %}