---
title: Hopeless Horror hole
visualiser:
  count: 16
elements: 
  - Pads
  - Bank 
  - Sample 
  - Blam
  - Chain 
  - Filter 
  - LFO
  - Envelope
  - Reverb
  - Tap
  - Sequencer 
  - Track
  - Bar
  - Analyser
---

{% set previousPost = collections.chain | getPreviousCollectionItem %}
{% set nextPost = collections.chain | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}


{% block visual %}
  <div class="l-frame__framed">
    <rings-blam 
      id="example" 
      fps="9"
      ratio="1 / 1"
      analyser="#analyser" 
      transport="#transport"
      style="inline-size: 75vw; max-block-size: 100%"
      count="{{ visualiser.count }}"
    >
    </rings-blam>
  </div>
{% endblock %}

{% block audio %}
<chain-blam id="bus">
  <filter-blam type="highpass" freq="100"></filter-blam>
  <limiter-blam></limiter-blam>
  <analyser-blam id="analyser" smoothing="0.25"></analyser-blam>
</chain-blam>
<chain-blam id="plate" out="bus">
  <reverb-blam mix="0.65">
    <sample-blam src="{{ site.basedir }}/static/sounds/IRs/plate.mp3"></sample-blam>
  </reverb-blam>
</chain-blam>
<pads-blam bank="plucks" id="original">
  <chain-blam>
    <echo-blam beats="0.666"></echo-blam>
    <reverb-blam mix="0.25">
      <sample-blam src="{{ site.basedir }}/static/sounds/IRs/plate.mp3"></sample-blam>
    </reverb-blam>
  </chain-blam>
</pads-blam>
<pads-blam bank="plucks" id="pluck" gain="20" detune="-1200" robin>
  <lfo-blam prop="detune" gain="50"></lfo-blam>
  <envelope-blam prop="gain" curve="0 0, 1 0.25" beats></envelope-blam>
  <chain-blam out="bus">
    <filter-blam id="filter" type="lowpass" freq="7000">
      <lfo-blam prop="freq" gain="5000" beats="7.25"></lfo-blam>
    </filter-blam>
    <reverb-blam mix="0.5">
      <sample-blam src="{{ site.basedir }}/static/sounds/IRs/stadium.mp3"></sample-blam>
    </reverb-blam>
  </chain-blam>
</pads-blam>
<pads-blam bank="plucks" id="pluck2" gain="0.5">
  <blam-blam prop="gain" value="0.125|0.25|0.33|0.5"></blam-blam>
  <envelope-blam prop="detune" curve="0 0, 0 0.25, -300 1"></envelope-blam>
  <chain-blam out="plate">
    <echo-blam beats="0.666" feedback="0.6" cutoff="4000"></echo-blam>
    <pan-blam pan="0">
      <lfo-blam prop="pan" gain="0.4" beats="9"></lfo-blam>
    </pan-blam>
  </chain-blam>
</pads-blam>
<pads-blam bank="plucks" id="plucksRev" reverse>
  <chain-blam out="plate">
    <echo-blam beats="0.25" feedback="0.666" cutoff="1000"></echo-blam>
  </chain-blam>
  <lfo-blam prop="detune" beats="0.25" gain="100">
    <blam-blam prop="beats" value="0.25|1|0.125"></blam-blam>
  </lfo-blam>
  <envelope-blam prop="gain" curve="1 0, 1 0.8, 0 1"></envelope-blam>
</pads-blam>
<notes-blam id="knocks" bank="plucks" notes="C5 C6" gain="13">
  <envelope-blam prop="gain" curve="0.5 0, 0 0.008"></envelope-blam>
  <chain-blam out="bus">
    <echo-blam beats="0.125" feedback="0.7"></echo-blam>
    <reverb-blam mix="0.85">
      <sample-blam src="{{ site.basedir }}/static/sounds/IRs/spring.mp3"></sample-blam>
    </reverb-blam>
  </chain-blam>
</notes-blam>
<bank-blam id="plucks">
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-01.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-02.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-03.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-04.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-05.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-06.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-07.mp3" reverse></sample-blam>
  <sample-blam src="{{site.basedircdn}}/static/sounds/minimal/pluck-08.mp3" reverse></sample-blam>
</bank-blam>
<sequencer-blam bpm="90" scale="3.5" id="transport">
  <track-blam to="#pluck">
    <bar-blam s="? 0 0 ? 0 0 ?"></bar-blam>
  </track-blam>
  <track-blam id="plucksTrack2" to="#pluck2" chance="0.6">
    <bar-blam s="? 0 ? ? 0 ? ? 0"></bar-blam>
  </track-blam>
  <track-blam id="revTrack" to="#plucksRev" chance="0.3">
    <bar-blam s="0 ? 0 0 0 ? ? 0"></bar-blam>
  </track-blam>
  <track-blam to="#knocks" chance="0.7" override="plucksTrack2">
    <repeat-blam x="3">
      <bar-blam s="0 0 0 0 0 0 0 0"></bar-blam>
    </repeat-blam>
    <bar-blam s="? ? ? ? ? ? ? ?"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam id="transport" to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

There’s no reason why two or more instruments (`<pads-blam>` elements here) can’t feed from the same sample bank. It’s just that each instrument will need to take an explicit `bank` prop, pointing to the `<bank-blam>`’s `id`.

This example uses 3 tiers of chaining. Some chains connect direct with the `bus` chain and some go via a `plate` chain, for adding [plate reverb](https://www.izotope.com/community/blog/plate-reverb). This saves loading the plate impulse response twice.

Here, one instrument plays the sample samples an ocatve down (`detune="-1200"`) with the _attack_ softened using  an `<envelope-blam>`. The gain starts at `0` and is ramped to `1` `0.5` beats in.

```html
<envelope-blam prop="gain" curve="0 0, 1 0.5" beats></envelope-blam>
```

Another `<envelope-blam>` is used to bend the pitch at the tail of the accompanying (higher tuned) instrument. It makes the sound extra unsettling. 
  
```
<envelope-blam prop="detune" curve="0 0, 0 0.25, -300 1"></envelope-blam>
```

Finally, a third `<pads-blam>` plays each of its _plucks_ in reverse, with a rapid vibrato applied using an `<lfo-blam>`. The `<envelope-blam>` tames the sharpness of the reversed sound by dipping the gain at the tail.

```html 
<pads-blam bank="plucks" id="pluckRev" gain="0.8" reverse>
  <chain-blam out="plate">
    <echo-blam beats="0.25" feedback="0.666" cutoff="1000"></echo-blam>
  </chain-blam>
  <lfo-blam prop="detune" beats="0.25" gain="100"></lfo-blam>
  <envelope-blam prop="gain" curve="1 0, 1 0.8, 0 1"></envelope-blam>
</pads-blam>
```

Since this composition generates indefinitely, you can put it on at bedtime and enjoy a whole night of vividly unpleasant dreams.

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<switch-blam to="#revTrack" prop="solo">
  <label>
    solo reversals
    <input type="checkbox">
  </label>
</switch-blam>
<kbd-blam to="#original" key="1" prop="play"></kbd-blam>
<kbd-blam to="#pluck" key="2" prop="play"></kbd-blam>
<kbd-blam to="#pluck2" key="3" prop="play"></kbd-blam>
<kbd-blam to="#plucksRev" key="4" prop="play"></kbd-blam>
<kbd-blam to="#knocks" key="5" prop="play"></kbd-blam>
{% endblock %}