---
title: Stab Scratch
elements: 
  - Chain 
  - Analyser 
  - Sequencer 
  - Pads 
  - LFO 
  - Blam 
  - Envelope 
  - Track 
  - Bar 
  - Bank 
  - Sample 
  - Tap 
---

{% set previousPost = collections.other | getPreviousCollectionItem %}
{% set nextPost = collections.other | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser" smoothing="0.25"></analyser-blam>
</chain-blam>
<sequencer-blam bpm="90" id="transport">
  <pads-blam out="bus" id="scratch" bank="stab" detune="800" choke>
    <lfo-blam prop="detune" gain="400"></lfo-blam>
    <blam-blam prop="length" value="0.0625~0.125"></blam-blam>
  </pads-blam>
  <pads-blam out="bus" id="release" bank="stab" length="4" choke>
    <envelope-blam prop="detune" curve="300 0, 0 0.2, 0 3.85, 600 4" beats></envelope-blam>
  </pads-blam>
  <track-blam to="#scratch" chance="0.7">
    <bar-blam s="? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0"></bar-blam>
  </track-blam>
  <track-blam to="#release">
    <bar-blam s="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0"></bar-blam>
    <bar-blam s="? 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0"></bar-blam>
  </track-blam>
  <bank-blam id="stab">
    <sample-blam src="{{site.basedir}}/static/sounds/dissonant/stab/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/dissonant/stab/02.mp3"></sample-blam>
  </bank-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round" aria-label="play">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}

{% renderTemplate "md" %}

{% endrenderTemplate %}

{% endblock %}

{% block controls %}
<kbd-blam key="1" to="#scratch" prop="play"></kbd-blam>
<kbd-blam key="2" to="#release" prop="play"></kbd-blam>
{% endblock %}