---
title: Getting ghosted
elements: 
  - Pads 
  - Bank 
  - Sample 
  - Display
  - Dial
  - Blam 
  - Sequencer 
  - Track 
  - Bar 
  - Tap
---

{% set previousPost = collections.beat | getPreviousCollectionItem %}
{% set nextPost = collections.beat | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam id="hat" choke out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam target="detune" value="0~25"></blam-blam>
</pads-blam>
<pads-blam id="kick" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snareSoft" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/02.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport">
  <track-blam to="#hat" chance="0.8">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.7" override="snareSoftTrack">
    <bar-blam s="1 0 2 0 3"></bar-blam>
    <bar-blam s="1 0 2 0 3 0 ? 0"></bar-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack snareSoftTrack">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
  </track-blam>
  <track-blam id="snareSoftTrack" to="#snareSoft">
    <bar-blam s="0 0 0 0 0 0 ? 0 0 0 ?" chance="0.5"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 ? ? ?" chance="0.5"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" target="playPause">
  <button aria-pressed="false" class="u-round">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
<dial-blam to="sequencer-blam" target="bpm">
  <label>
    bpm
    <input type="range" min="60" max="180" step="1">
    <display-blam element="sequencer-blam" prop="bpm" aria-hidden="true"></display-blam>
  </label>
</dial-blam>
<switch-blam to="sequencer-blam" target="swing" value="0.2">
  <label>
    swing
    <input type="checkbox">
  </label>
</switch-blam>
{% endblock %}