---
title: Mix and match
elements: 
  - Pads 
  - Bank 
  - Sample 
  - Blam 
  - Dial
  - Saturator
  - Sequencer 
  - Track 
  - Bar 
  - Tap
  - Radios
---

{% set previousPost = collections.beat | getPreviousCollectionItem %}
{% set nextPost = collections.beat | getNextCollectionItem %}

{% extends 'layouts/example.njk' %}

{% block audio %}
<chain-blam id="bus">
  <saturator-blam></saturator-blam>
  <analyser-blam id="analyser"></analyser-blam>
</chain-blam>
<pads-blam id="hat" choke out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/hat/03.mp3"></sample-blam>
  </bank-blam>
  <blam-blam prop="detune" value="0~25"></blam-blam>
</pads-blam>
<pads-blam id="kick" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/kick/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snare" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/02.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/03.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<pads-blam id="snareSoft" out="bus">
  <bank-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/01.mp3"></sample-blam>
    <sample-blam src="{{site.basedir}}/static/sounds/kit-garage/snare-soft/02.mp3"></sample-blam>
  </bank-blam>
</pads-blam>
<sequencer-blam bpm="90" id="transport" swing>
  <track-blam to="#hat" chance="0.8">
    <bar-blam s="1 0 2 0 ? ? ? 0"></bar-blam>
    <bar-blam s="1 2 0 0 ? 0 ?"></bar-blam>
  </track-blam>
  <track-blam id="kickTrack" to="#kick" chance="0.7" override="snareSoftTrack">
    <bar-blam s="1 0 2 0 3"></bar-blam>
    <bar-blam s="1 0 2 0 3 0 ? 0"></bar-blam>
  </track-blam>
  <track-blam to="#snare" override="kickTrack snareSoftTrack">
    <bar-blam s="0 0 0 0 ? 0 0 0"></bar-blam>
  </track-blam>
  <track-blam id="snareSoftTrack" to="#snareSoft">
    <bar-blam s="0 0 0 0 0 0 ? 0 0 0 ?" chance="0.5"></bar-blam>
    <bar-blam s="0 0 0 0 0 0 0 ? ? ?" chance="0.5"></bar-blam>
  </track-blam>
</sequencer-blam>
<tap-blam to="sequencer-blam" prop="playPause">
  <button aria-pressed="false" class="u-round">{% icon 'playPause' %}</button>
</tap-blam>
{% endblock %}

{% block dialog %}
Dialog things!
{% endblock %}

{% block controls %}
<radios-blam to="saturator-blam" prop="mode">
  <fieldset aria-labelledby="modeLabel">
    <span class="u-legend" id="modeLabel">mode</span>
    <label>
      <input type="radio" name="mode" value="1">
      1
    </label>
    <label>
      <input type="radio" name="mode" value="2">
      2
    </label>
    <label>
      <input type="radio" name="mode" value="3">
      3
    </label>
    <label>
      <input type="radio" name="mode" value="4">
      4
    </label>
  </fieldset>
</radios-blam>
<dial-blam to="saturator-blam" prop="dry">
  <label>
    dry
    <input type="range" min="0" max="1" step="any">
  </label>
</dial-blam>
<dial-blam to="saturator-blam" prop="wet">
  <label>
    wet
    <input type="range" min="0" max="1" step="any">
  </label>
</dial-blam>
{% endblock %}