---
title: Media element CSS
---

{% extends 'layouts/example.njk' %}

{% block audio %}
<div class="l-frame__framed">
  <media-blam out="bus">
    <audio controls src="{{site.basedir}}/static/sounds/kit-garage/snare-hard/01.mp3"></audio>
  </media-blam>
</div>
<chain-blam id="bus">
  <echo-blam beats="0.25"></echo-blam>
  <analyser-blam></analyser-blam>
</chain-blam>
{% endblock %}