:root {
  --color-fore: #fff;
  --color-back: #000;
  --font: 'Courier Prime', monospace;
  --font-display: Impact, sans-serif;
  --font-special: 'Heydon Caps', cursive;
  --grip: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" stroke="%23101010" stroke-width="2" overflow="visible" stroke-linecap="round"><path d="M1 1, 1 15 M8 1, 8 15 M15 1, 15 15"></path></svg>');
  color: var(--color-fore);
  background-color: var(--color-back);
  font-family: var(--font);
  text-align: center;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: url('cursor_small.svg'), auto !important;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px dashed;
  outline-offset: 0.125em;
}

a {
  text-decoration-style: wavy;
  text-decoration-thickness: 0.045em;
  text-underline-offset: 0.25em;
}

button {
  all: unset;
  font-size: 1.5em;
  padding: 0.333em 0.666em;
  border: 0.0625em solid;
  border-radius: 0.125em;
  line-height: 1;
  box-shadow: 0 0.125em var(--color-fore);
  position: relative;
}

button:active {
  top: 0.125em;
  transform: none;
  box-shadow: none;
}

pre {
  font-size: 0.8em;
  text-align: left;
  padding: 0.5rem;
  background-color: #000;
  border: 2px solid;
}

code {
  font-family: var(--font);
}

label {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 1.5em;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  width: 8em;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--color-fore);
  border-radius: 0.25em;
  height: 0.5em;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5em;
  background-color: var(--color-fore);
  border-radius: 0.25em;
  border: 0;
  box-shadow: 0 0 0 0.2em var(--color-back);
  height: 1.5em;
  width: 1.5em;
  background-image: var(--grip);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="range"]:focus-visible::-webkit-slider-thumb {
  outline: 1px dashed var(--color-fore);
  outline-offset: 0.125em;
}

input[type="range"]::-moz-range-track {
  background-color: var(--color-fore);
  border-radius: 0.25em;
  height: 0.5em;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--color-fore);
  border: 0;
  border-radius: 0.25em;
  box-shadow: 0 0 0 0.2em var(--color-back);
  height: 1.5em;
  width: 1.5em;
  background-image: var(--grip);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="range"]:focus-visible::-moz-range-thumb {
  outline: 1px dashed var(--color-fore);
  outline-offset: 0.125em;
}

[type="checkbox"] {
  font-size: 1em;
  appearance: none;
  cursor: pointer;
  position: relative;
  background-color: var(--color-back);
  border-radius: 0.5em;
  width: 2.5em;
  height: 1.5em;
  outline: 0.125em solid var(--color-fore);
  outline-offset: -0.333em;
}

[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0 0.2em var(--color-back);
  background-color: var(--color-fore);
  position: absolute;
  background-image: var(--grip);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

[type="checkbox"]:focus-visible::before {
  outline: 1px dashed var(--color-fore);
  outline-offset: 0.125em;
}

[type="checkbox"]:checked::before {
  inset-inline-end: 0;
}

section {
  inline-size: 100dvw;
  block-size: 100dvh;
  position: relative;
}

.l-screen, .l-frame, [class*="l-pos"] {
  position: absolute;
  inset: 0;
}

.l-screen {
  aspect-ratio: 9 / 6;
  margin: auto;
  max-inline-size: 100%;
  max-block-size: 100%;
  container-type: size;
}

.l-frame, [class*="l-pos"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  font-size: 5cqmin;
}

.l-cluster {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

video {
  position: absolute;
  inset: 0;
  object-fit: fill;
  inline-size: 100%;
  block-size: 100%;
}

[class*="l-pos"] {
  block-size: 50cqh;
  inline-size: 50cqw;
  inset: 0 auto auto 0;
  padding: 0.5em;
  font-size: 2.5cqw;
}

.l-pos-br {
  inset: 50cqh auto auto 50cqw;
}

h1, h2, h3 {
  font-family: var(--font-special);
  line-height: 1;
  font-weight: normal;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

/* utilities */

.u-blend {
  mix-blend-mode: difference;
}

.u-mono {
  filter: contrast(10);
}

.u-tilt {
  transform: rotate(var(--tilt, 1.5deg));
}

.u-cursor-none, .u-cursor-none * {
  cursor: none !important;
}

.u-alert {
  padding: 0.25em;
  background-color: var(--color-fore);
  color: var(--color-back);
  font-family: Impact, sans-serif;
  animation: flash 1s steps(1) infinite; 
  line-height: 0.9;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

.u-blocked {
  display: inline;
  background-color: var(--color-fore); 
  color: var(--color-back);
  padding: 0.2em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@keyframes squiggle {
  0% {
    filter: url("#noise-1");
  }
  33% {
    filter: url("#noise-2");
  }
  66% {
    filter: url("#noise-3");
  }
}

section:not([hidden]) .u-squiggle {
  animation: squiggle 0.25s linear infinite alternate;
}

.u-impact {
  font-family: var(--font-display);
}

.u-impact.u-blocked {
  line-height: 1.4;
}

.u-wait {
  animation: var(--wait, distort) var(--wait-speed, 0.2s) infinite alternate;
}

@keyframes distort {
  0% {
    filter: url(#distort-3);
  }
  33% {
    filter: url(#distort-1);
  }
  64% {
    filter: url(#distort-5);
  }
  66% {
    filter: url(#distort-4);
  }
  70% {
    filter: url(#distort-1);
  }
  90% {
    filter: url(#distort-2);
  }
  100% {
    filter: url(#distort-3);
  }
}

[hidden] {
  display: none;
}