<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title %}
    <title>{{ title }} : {{ site.title }}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{site.basedir}}/static/css/fonts.css" media="screen"  />
    <link rel="stylesheet" href="{{site.basedir}}/static/css/styles.css" media="screen" />
    <link rel="preload" href="{{site.basedir}}/static/css/fonts/HeydonCaps.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.basedir}}/static/css/fonts/CourierPrime-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.basedir}}/static/css/fonts/CourierPrime-Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{site.basedir}}/static/css/fonts/CourierPrime-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" type="image/svg+xml" href="{{site.basedir}}/static/images/favicon.svg" sizes="any">
    <meta name="description" content="{{ description if description else 'Documentation for HyperBlam. Make HTML make music.'}}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ description if description else 'Documentation for HyperBlam. Make HTML make music.'}}">
    {% set cardNum = [1,2,3,4] | oneOf %}
    {% if ogImage %}
    <meta property="og:image" content="{{site.basedir}}/static/images/{{ ogImage }}">
    {% else %}
    <meta property="og:image" content="{{site.basedir}}/static/images/card{{ cardNum }}.png">
    {% endif %}
    {% if ogImageAlt %}
    <meta property="og:image" content="{{ ogImageAlt }}">
    {% else %}
    <meta property="og:image:alt" content="{{ site.cardAlts[cardNum] }}" />
    {% endif %} 
  </head>
  {% block bodyTag %}
  <body class="l-view">
  {% endblock %}
    {% block bodyStart %}
    <svg style="block-size: 0" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="noise-big-1">
          <feTurbulence baseFrequency="0.006" numOctaves="3" result="noise" seed="1"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="10" />
        </filter>
        <filter id="noise-big-2">
          <feTurbulence baseFrequency="0.008" numOctaves="3" result="noise" seed="1"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="15" />
        </filter>
        <filter id="noise-big-3">
          <feTurbulence baseFrequency="0.004" numOctaves="3" result="noise" seed="1"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="20" />
        </filter>
        <filter id="noise-1">
          <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="3" />
        </filter>
        <filter id="noise-2">
          <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="2" />
        </filter>
        <filter id="noise-3">
          <feTurbulence baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="1.5" />
        </filter>
        <filter id="distort-1">
          <feTurbulence baseFrequency="0.001 0.1" numOctaves="4"/>
          <feDisplacementMap in="SourceGraphic" scale="90"/>
        </filter>
        <filter id="distort-2">
          <feTurbulence baseFrequency="0.002 0.1" numOctaves="8"/>
          <feDisplacementMap in="SourceGraphic" scale="110"/>
        </filter>
        <filter id="distort-3">
          <feTurbulence baseFrequency="0.003 0.1" numOctaves="16"/>
          <feDisplacementMap in="SourceGraphic" scale="100"/>
        </filter>
      </defs>
    </svg>
    {% endblock %}
    {% block nav %}
    <header class="l-box">
      <a href="#main" class="l-skip">skip to content</a>
    </header>
    {% endblock %}
    {% block main %}
    <main class="l-column l-flow" tabindex="-1">
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </main>
    {% endblock %}
    {% block footer %}
    <footer class="u-font-smaller">
      <p>Created by <a href="https://front-end.social/@heydon">Heydon Pickering</a></p>
      <p>Version: <strong>{{ package.version }}</strong></p>
    </footer>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>