{% extends 'layouts/index.njk' %}

{% block iteration %}
  {% for name, description in site.categories %}
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <ul class="l-index">
      {% for element in api %}
        {% if element.category == name %}
        <li>
          <a href="{{site.basedir}}/elements/{{element.name}}">{{ element.name }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}