{% extends 'layouts/main.njk' %}

{% block title %}
<title>{{ element.name }} element : {{ site.title }}</title>
{% endblock %}

{% block main %}
  <h1>{{ element.name }}</h1>
  {% if element.summary %}
    <p>{{ element.summary }}</p>
  {% endif %}
{% endblock %}