{% extends 'layouts/main.njk' %}

{% block title %}
<title>{{ element.name }} element : {{ site.title }}</title>
{% endblock %}

{% block main %}
  <main class="l-column l-flow" tabindex="-1">
    <h1>{{ element.name }}</h1>
    {% if element.summary %}
      <p>{{ element.summary | md | safe }}</p>
    {% endif %}
    {% if element.draft %}
      <p class="u-note"><strong class="u-note__shout">DRAFT!</strong> This element is in early development and is liable to change or even be replaced.</p>
    {% endif %}
    <dl>
      <div>
        <dt>class</dt>
        <dd>{{ element.name }}</dd>
      </div>
      <div>
        <dt>extends</dt>
        <dd>{{ element.extends if element.extends else 'Base' }}</dd>
      </div>
      <div>
        <dt>tag</dt>
        <dd><code>&lt;{{ element.name | lowercase }}-blam&gt;</code></dd>
      </div>
    </dl>
    {% if element.props %}
      <h2>Props</h2>
      <table>
        <tr>
          <th scope="col">name</th>
          <th scope="col">type</th>
          <th scope="col">default</th>
          <th scope="col">description</th>
        </tr>
        {% for prop in element.props %}
        <tr>
          <th scope="row">{{ prop.name }}</th>
          <td><em>{{ prop.type }}</em></td>
          <td>{{ prop.default }}</td>
          <td>{{ prop.description | md | safe }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% if element.events %}
      <h2>Events</h2>
      <table>
        <tr>
          <th scope="col">type</th>
          <th scope="col">description</th>
        </tr>
        {% for event in element.events %}
        <tr>
          <th scope="row">{{ event.name }}</th>
          <td>{{ event.description | md | safe }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% if element.methods %}
      <h2>Methods</h2>
      <table>
        <tr>
          <th scope="col">name</th>
          <th scope="col">args</th>
          <th scope="col">description</th>
        </tr>
        {% for method in element.methods %}
        <tr>
          <th scope="row">{{ method.name }}</th>
          <td style="text-align: left">{{ method.args | md | safe }}</td>
          <td>{{ method.description | md | safe }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
    <h2>Examples</h2>
    {% set posts = [] %}
    {% for post in collections['examples'] %}
      {% if element.name in post.data.elements %}
        {% set posts = (posts.push(post), posts) %}
      {% endif %}
    {% endfor %}
    {% if posts.length %}
    <p>Examples that use the <strong>{{element.name}}</strong> element:</p>
    <ul>
      {% for post in posts %}
        <li>
          <a href="{{site.basedir}}{{post.url}}">{{ post.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="u-note"><strong class="u-note__shout">OH FUN!</strong> There are currently no examples using <strong>{{element.name}}</strong>.</p>
    {% endif %}
  </main>
{% endblock %}