{% extends 'layouts/index.njk' %}

{% block main %}
  <main class="l-column l-flow" tabindex="-1">
    <h1>{{ title }}</h1>
    {{ content | safe }}
    <hr>
    {% block iteration %}
      {% for group in site.exampleData %}
        <h2>{{ group.title }}</h2>
        {{ group.summary | md | safe }}
        <ul class="l-examples">
          {% for post in collections[group.tags] %}
            <li>
              {% if not post.data.unnumbered %}{{ loop.index }}. {% endif %}
              <a href="{{site.basedir}}{{post.url}}">{{ post.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endblock %}
  </main>
{% endblock %}