{% extends 'layouts/main.njk' %}

{% block main %}
  <main class="l-column l-flow" tabindex="-1">
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {% block iteration %}
      <ul>
        {% for post in collections[key] %}
          <li>
            <a href="{{site.basedir}}{{post.url}}">{{ post.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </main> 
{% endblock %}