{% extends 'layouts/base.njk' %}

    {% block nav %}
    <header class="l-box">
      <a href="#main" class="l-skip">skip to content</a>
      <nav>
        <a class="c-logo" href="{{site.basedir}}/">
          {{ logo | safe }}
        </a>
        <ul class="l-cluster" style="--cluster-gap: 0.5em 1.5em">
          <li><a href="{{site.basedir}}/guides">Guides</a></li>
          <li><a href="{{site.basedir}}/elements">Elements</a></li>
          <li><a href="{{site.basedir}}/examples">Examples</a></li>
          <li><a href="{{package.homepage}}">Code</a><span aria-hidden="true" class="u-glyph-icon">↗</span></li>
        </ul>
      </nav>
    </header>
    {% endblock %}
    {% block main %}
      <main class="l-column l-flow" tabindex="-1">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </main>
    {% endblock %}
    <footer class="u-font-smaller">
      <p>Created by <a href="https://front-end.social/@heydon">Heydon Pickering</a></p>
      <p>Version: <strong>{{ package.version }}</strong></p>
    </footer>
    <script type="module" src="{{site.basedir}}/{{site.hyperblampath}}"></script>
  </body>
</html>